<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>giovanni.alfred-kindle</string>
	<key>connections</key>
	<dict>
		<key>BA9E997F-E08E-4947-BBB4-8BF84341ED1D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EFFEB21A-8303-4FE0-8B9D-0302BE4E21EA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EFFEB21A-8303-4FE0-8B9D-0302BE4E21EA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C201E860-5900-49B2-8980-4B8E5DA0A4C8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>giovanni</string>
	<key>description</key>
	<string>Browse and open your Kindle books</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>alfred-kindle</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>BA9E997F-E08E-4947-BBB4-8BF84341ED1D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1
open "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C201E860-5900-49B2-8980-4B8E5DA0A4C8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:mainkeyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>⏳...fetching Kindle info...</string>
				<key>script</key>
				<string>query=$1
export PATH=/opt/homebrew/bin:/usr/local/bin:$PATH
export PYTHONPATH="$PWD/lib"
python3 kindle-query.py "$1"
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>alfred-kindle 📚</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>EFFEB21A-8303-4FE0-8B9D-0302BE4E21EA</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># alfred-kindle 📚
List and open your Kindle books with Alfred


## Motivation ✅

- Quickly list, search, and open your Kindle books


## Setting up ⚙️

- Alfred 5 with Powerpack license
- Python3
- Kindle app installed



### Default settings 
- In Alfred, open the 'Configure Workflow' menu in `alfred-kindle` preferences
	- set the keyword for the workflow (default: `!k`)
	- set the book content icon, i.e. if a book has been downloaded locally (default: 📘)
	- show 'ghost' books (i.e. books not downloaded, or previously loaned)?  (default: yes)
	- set search scope (default: 'Title')
		- `Title`: search titles only
		- `Author`: search authors only
		- `Both`: search across titles and authors


## Basic Usage 📖

- launch with keyword (default: `!k`), or custom hotkey
- `enter` ↩️ will open the book in Kindle (if downloaded) or the corresponding webpage on Amazon (if not downloaded)


## Limitations &amp; known issues ⚠️

- None for now, but I have not done extensive testing, let me know if you see anything!
- tested with ~100 books. The book list is currently created on the fly, and book covers are downloaded if missing. Might be slower if your library has thousands of books, in which case a sqlite database it might be more efficient. Let me know if that is the case! 
- tested with Python 3.9.13


## Acknowledgments 😀

- Thanks to the [Alfred forum](https://www.alfredforum.com) community!
- Icon from [SF symbols](https://developer.apple.com/sf-symbols/)

## Changelog 🧰

- 02-28-2023: version 0.1


## Feedback 🧐

Feedback welcome! If you notice a bug, or have ideas for new features, please feel free to get in touch either on [Github](https://github.com/giovannicoppola/alfred-kindle), or on the [Alfred](https://www.alfredforum.com) forum.</string>
	<key>uidata</key>
	<dict>
		<key>BA9E997F-E08E-4947-BBB4-8BF84341ED1D</key>
		<dict>
			<key>xpos</key>
			<real>170</real>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>C201E860-5900-49B2-8980-4B8E5DA0A4C8</key>
		<dict>
			<key>xpos</key>
			<real>685</real>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>EFFEB21A-8303-4FE0-8B9D-0302BE4E21EA</key>
		<dict>
			<key>xpos</key>
			<real>420</real>
			<key>ypos</key>
			<real>340</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>!k</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Keyword to launch `alfred-kindle`</string>
			<key>label</key>
			<string>Main Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>mainkeyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>📘</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Icon to show if the book is locally available on Kindle</string>
			<key>label</key>
			<string>Book Content Icon</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>BookContent</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Check to show 'ghost' books</string>
			</dict>
			<key>description</key>
			<string>Show books not downloaded locally, or previously loaned</string>
			<key>label</key>
			<string>Show 'ghost' books</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>SHOW_GHOST</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>Title</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Title</string>
						<string>Title</string>
					</array>
					<array>
						<string>Author</string>
						<string>Author</string>
					</array>
					<array>
						<string>Both</string>
						<string>Both</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>Search across book title, author, or both.</string>
			<key>label</key>
			<string>Search Scope</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>SEARCH_SCOPE</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.1</string>
	<key>webaddress</key>
	<string>https://github.com/giovannicoppola/alfred-kindle</string>
</dict>
</plist>
